/*-----------Panels------------*/
.panel-primary {
    -fx-background-color: #2b2b2b;
}
.panel-secondary {
    -fx-background-color: #313335;
    -fx-padding: 5px;
}
/*-----------------------------*/

/*-----------Buttons-----------*/
.btn {
    -fx-font-size: 13px;
    -fx-text-fill: white;
}
.btn-success { -fx-background-color: #4CAF50; }
.btn-failed { -fx-background-color: #f44336; }
.btn-info { -fx-background-color: #008CBA; }
/*-----------------------------*/

/*-----------Labels------------*/
.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.label-about {
    -fx-font-size: 11px;
    -fx-text-fill: #787878;
}
.label-about:hover {
    -fx-text-fill: #9b9b9b;
}
.label-small-text { -fx-font-size: 15px; }
.label-medium-text { -fx-font-size: 17px; }
.label-big-text { -fx-font-size: 19px; }
/*-----------------------------*/
